<section class="permanence-block">
    <div class="permanence-header">
        <i class="fas fa-map-marker-alt permanence-icon"></i>
        <h3 class="permanence-title">Permanence parlementaire</h3>
    </div>
    <div class="permanence-info">
        <div class="permanence-address">
            <strong>Adresse :</strong><br>
            35 rue des Alouettes<br>
            68480 Ferrette
        </div>
        <div class="permanence-hours">
            <strong>Horaires d'accueil :</strong>
            <ul>
                <li><span class="permanence-day">Lundi</span> : <span class="permanence-time">8h à 12h</span></li>
                <li><span class="permanence-day">Mardi</span> : <span class="permanence-time">9h à 12h</span> et <span class="permanence-time">13h30 à 17h30</span></li>
                <li><span class="permanence-day">Mercredi</span> : <span class="permanence-time">13h30 à 17h30</span></li>
                <li><span class="permanence-day">Jeudi</span> : <span class="permanence-time">9h à 12h</span> et <span class="permanence-time">13h30 à 17h30</span></li>
            </ul>
        </div>
    </div>
    <div class="permanence-note">
        <i class="fas fa-info-circle"></i> Pour toute question ou prise de rendez-vous, n'hésitez pas à contacter la permanence.
    </div>
</section>
