<header class="site-header" >
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{{ path('app_home') }}" title="Votre député Eric Francois" aria-label="Votre député Eric Francois">
                    <img src="{{asset('images/header_logo.png')}}" alt="Votre député Eric Francois">
                </a>
            </div>
            <nav class="main-nav">
                <ul class="nav-links">
                    <li><a href="#">votre député</a></li>
                    <li><a href="{{ path('app_news_category', {category: 'circonscription'}) }}">dans le Haut-Rhin</a></li>
                    <li><a href="{{ path('app_news_category', {category: 'assemblee'}) }}">à l'assemblée</a></li>
                    <li><a href="#">rencontres</a></li>
                    <li><a href="#">presse</a></li>
                </ul>
            </nav>
            <button class="mobile-menu-toggle" aria-label="Menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>