<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Eric Francois - Député du Haut-Rhin{% endblock %}</title>
        <meta name="description" content="{% block meta_description %} Bienvenue sur le site d'Eric Francois, député de la 6e circonscription du Haut-Rhin. Habitant Ferrette, Sundgauvien depuis des générations, arrière-petit-fils de Marcel Francois, Compagnon de la Libération et médecin commandant, je poursuis l'engagement {% endblock %}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('app.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        {% include 'partials/_header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/_footer.html.twig' %}
    </body>

</html>
